.shop {
  border: 1px dotted black;
}

.pageHeader {
  display: flex;
  justify-content: center;
  margin: 10px;

}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.shop {
  flex-basis: 30%;

  
}